/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343434;
    // background: $base-color;
    border-radius: 0px;
}